<div class="row-fluid">
	<div class="page-header">
		<h1 th:text="${group.name}">
			Parent Group <small>Group operations</small>
		</h1>
	</div>
</div>
<ul class="nav nav-tabs top-tab-bar" id="interest_tabs">
	<!--top level tabs-->
	<li><a href="#broadcast" data-toggle="tab">Broadcast</a></li>
	<li><a href="#voice-message-response" data-toggle="tab">Voice
			Message Response</a></li>
	<li><a href="#text-message-response" data-toggle="tab">Text
			Message Response</a></li>
	<li><a href="#send-sms" data-toggle="tab">Send SMS</a></li>
	<li><a href="#manage" data-toggle="tab">Manage</a></li>
</ul>

<!--top level tab content-->
<div class="tab-content">
	<!--broadcast tab menu-->
	<div id="broadcast" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="brands_tabs">
			<li><a href="#broadcast-voice-message" data-toggle="tab">Voice
					Message</a></li>
			<li><a href="#broadcast-text-message" data-toggle="tab">Text
					Message</a></li>
		</ul>
	</div>
	<!--Voice message response tab menu-->
	<div id="voice-message-response" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="all_tabs">
			<li><a href="#voice-message-response-inbox" data-toggle="tab">Inbox</a></li>
			<li><a href="#voice-message-response-saved" data-toggle="tab">Saved</a></li>
			<li><a href="#voice-message-response-processed"
				data-toggle="tab">Processed</a></li>
			<li><a href="#voice-message-response-feedback" data-toggle="tab">Feedback</a></li>
			<li><a href="#voice-message-response-response" data-toggle="tab">Response</a>
		</ul>
		<!--all tab content-->
		<div class="tab-content">
			<div id="voice-message-response-inbox" class="tab-pane">
				<ng-include
					th:attr="src='\'voiceMessage/'+ inbox+'/'+ ${group.groupId}+'\''"></ng-include>
			</div>
			<div id="voice-message-response-saved" class="tab-pane">
				<i>voice-message-response-saved</i>
			</div>
			<div id="voice-message-response-processed" class="tab-pane">
				<i>voice-message-response-processed</i>
			</div>
			<div id="voice-message-response-feedback" class="tab-pane">
				<ng-include
					th:attr="src='\'voiceMessage/'+ feedback+'/' +${group.groupId}+'\''"></ng-include>
			</div>
			<div id="voice-message-response-response" class="tab-pane">
				<ng-include
					th:attr="src='\'voiceMessage/'+ response+'/' +${group.groupId}+'\''"></ng-include>
			</div>
		</div>
	</div>

	

	<!--media tab menu-->
	<div id="text-message-response" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="media_tabs">
			<li><a href="#text-message-response-inbox" data-toggle="tab">Inbox</a></li>
			<li><a href="#text-message-response-accepted" data-toggle="tab">Accepted</a></li>
			<li><a href="#text-message-response-rejected" data-toggle="tab">Rejected</a></li>
			<li><a href="#text-message-response-response-binary"
				data-toggle="tab">Response(Yes/No)</a></li>
			<li><a href="#text-message-response-feedback" data-toggle="tab">Feedback</a></li>
			<li><a href="#text-message-response-default-message"
				data-toggle="tab">Default Message</a></li>
		</ul>
		<!--media tab content-->
		<div class="tab-content">
			<div id="text-message-response-inbox" class="tab-pane">
				<ng-include
					th:attr="src='\'textInboxMessage/'+${group.groupId}+'\''"></ng-include>
			</div>
			<div id="text-message-response-accepted" class="tab-pane">
				 <ng-include
					th:attr="src='\'textAcceptRejectMessage/'+Accept+'/' +${group.groupId}+'\''"></ng-include> 
			</div>
			<div id="text-message-response-rejected" class="tab-pane">
				 <ng-include
					th:attr="src='\'textAcceptRejectMessage/'+Reject+'/' +${group.groupId}+'\''"></ng-include> 
			</div>
			<div id="text-message-response-response-binary" class="tab-pane">
				<ng-include
					th:attr="src='\'textMessage/'+ Response+'/' +${group.groupId}+'\''"></ng-include>
			</div>
			<div id="text-message-response-feedback" class="tab-pane">
				<ng-include
					th:attr="src='\'textMessage/'+ Feedback+'/' +${group.groupId}+'\''"></ng-include>
			</div>
			<div id="text-message-response-default-message" class="tab-pane">
				<ng-include
					th:attr="src='\'textMessage/'+ Default+'/' +${group.groupId}+'\''"></ng-include>
			</div>
		</div>
	</div>

	<!--music tab menu-->
	<div id="send-sms" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="music_tabs">
			<li><a href="#send-sms-outgoing-sms" data-toggle="tab">Outgoing
					SMS</a></li>
		</ul>
		<!--music tab content-->
		<div class="tab-content">
			<div id="send-sms-outgoing-sms" class="tab-pane">
				<ng-include
					th:attr="src='\'outGoingSmsList/'+${group.groupId}+'\''"></ng-include>
			</div>
		</div>
	</div>

	<!--public_figures tab menu-->
	<div id="manage" class="tab-pane">
		<ul class="nav nav-tabs bottom-tab-bar" id="public_figures_tabs">
			<li><a href="#manage-members" data-toggle="tab">Members</a></li>
			<li><a href="#manage-reports" data-toggle="tab">Reports</a></li>
			<li><a href="#manage-settings" data-toggle="tab">Settings</a></li>
		</ul>
		<!--public_figures tab content-->
		<div class="tab-content">
			<div id="manage-members" class="tab-pane">
				<i>manage-members</i>
			</div>
			<div id="manage-reports" class="tab-pane">
				<i>manage-reports</i>
			</div>
			<div id="manage-settings" class="tab-pane">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="name">Group Id</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="groupId"
									th:value="${group.groupId}" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="groupName">Group Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="groupName"
									th:value="${group.name}" />
							</div>
						</div>

						<div class="form-actions">
							<input type="submit" class="btn btn-success" value="Save Details" />
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
