<div class="row-fluid">
  <div class="page-header">
    <h1>Settings <small>Edit</small></h1>
  </div>
</div>  
<ul class="nav nav-tabs top-tab-bar" id="interest_tabs">
    <!--top level tabs-->
  <li><a href="#profile-settings" data-toggle="tab">Profile</a></li>
  <li><a href="#system-settings" data-toggle="tab">System</a></li>
</ul>
<div class="tab-content">
  <div id="profile-settings" class="tab-pane">
    <br>
    <br>
    <form class="form-horizontal">
      <fieldset>
	    <div class="control-group">
	      <label class="control-label" for="name">Name</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="name" />
		  </div>
	    </div>
		<div class="control-group">
		  <label class="control-label" for="email">E-mail</label>
		  <div class="controls">
			<input type="text" class="input-xlarge" id="email" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="new-password">New Password</label>
		  <div class="controls">
			<input type="password" class="input-xlarge" id="new-password" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="re-new-password">Re-type new password</label>
		  <div class="controls">
			<input type="password" class="input-xlarge" id="re-new-password" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="pnohe">Phone</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="phone" />
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="city">City</label>
		  <div class="controls">
		    <input type="text" class="input-xlarge" id="city" />
		  </div>
		</div>	
		<div class="form-actions">
		  <input type="submit" class="btn btn-success" value="Save Details" /> <a class="btn" href="#/settings">Cancel</a>
		</div>					
	  </fieldset>
	</form>
  </div>
  <div id="system-settings" class="tab-pane">
  <p>hi</p>
  </div>
</div>