<div class="row-fluid">
	<table class="table table-striped table-bordered table-condensed"
		id="usertable">
		<thead>
			<tr>
				<th>Time</th>
				<th>User Name</th>
				<th>Message</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr class="list-users" th:each="message : ${textMessage} ">

				<td th:text="${message.textTime}">Time</td>
				<td th:text="${message.user.name}">User Name</td>
				<td th:text="${message.textContent}">Text Content</td>
				<td><input type="textarea" class="input-xlarge" id="comment"
					th:value="${message.comments}" /></td>
				 <td><div class="controls">
			  <select id="order_type">
                <option value="accept">Accept</option>
                <option value="reject">Reject</option>
               
              </select>
            </div></td>
				
			</tr>
		</tbody>
	</table>

</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->