<div class="row-fluid">

	<div th: if="${message !=null}">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Broadcast URL</th>
					<th>Comment</th>

				</tr>
			</thead>
			<tbody>
				<tr class="list-messages" th:each="voiceMessage : ${message} ">
					<td th:text="${voiceMessage.voice.voiceId}">Id</td>
					<td th:text="${voiceMessage.user.name}">User name</td>
					<!-- 	<td th:text="${voiceMessage.voice.url}">Message Url</td> -->
					<td><audio controls>
							<source th:attr="src=${voiceMessage.voice.url}" type="audio/wav"></source>
							<p>Your browser does not support this audio format.</p>
						</audio></td>
					<td th:text="${voiceMessage.comments}">Comments</td>

				</tr>
			</tbody>
		</table>
	</div>


	<div th:if="${message == null}">
		<B>No New Message </B>

	</div>


</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->