<div class="row-fluid">

	<div th :if="${message !=null}">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Member</th>
					<th>Message</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-users" th:each="voiceMessage : ${message} ">

					<td th:text="${voiceMessage.voice.voiceId}">Message Id</td>
					<td th:text="${voiceMessage.user.name}">Name</td>
					<td><audio controls>
							<source th:attr="src=${voiceMessage.voice.url}" type="audio/wav"></source>
							<p>Your browser does not support this audio format.</p>
						</audio></td>
					<td><input type="textarea" class="input-xlarge" id="comment"
						th:value="${voiceMessage.comments}" /></td>
					<td>
						<p data-placement="top" data-toggle="tooltip" title="Edit">
							<button class="open-edit-modal btn btn-primary btn-xs"
								data-title="Save" data-toggle="modal" data-target="#save">
								<i class="icon-white  icon-file"></i> Save
							</button>
						</p>
					</td>




				</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${message == null}">
		<B>No New Message </B>

	</div>
</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->